{% extends "dashboard/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Obidient Space Tech -student portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
</head>


{% block content %}




<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row">
<div class="col-md-6">
	<div class="page-title">
		<marquee behavior="" direction="left" scrolldelay="250"> <b style="color: red;"> Recently admitted students</b></marquee>
		
		</div>
	<p class=" btn btn-primary">submit Your  assignment here </p>
	

</div>

</div>
</div>
{% include 'dashboard/mymessage.html' %}

<div class="row">
<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
<div class="dash-widget dash-widget5"> 
<span class="float-left"><img src="{% static 'assets/img/dash/dash-1.png' %}" alt="" width="80"></span>
<div class="dash-widget-info text-right">
<span>Student Passode</span>
{% if assigment.passcode  %}
<h4>{{assigment.passcode}}</h4>
{% else %}
<h4>No Passode</h4>
{% endif %}

</div>

</div>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
<div class="dash-widget dash-widget5">
<div class="dash-widget-info text-left d-inline-block">
<span class="text-success"> TOtal Score</span>
<h3 class="text-warning">{{myscore }}%</h3> 

</div>
<span class="float-right"><img src="{% static 'assets/img/dash/dash-2.png' %}" width="80" alt=""></span>
</div>
</div> 
<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
<div class="dash-widget dash-widget5">
	
<span class="float-left"><img src="{% static 'assets/img/dash/dash-3.png' %}" alt="" width="80"></span>
<div class="dash-widget-info text-right">
{% if cohorts  %}

<span>My Cohort</span>
<h3><a href="{% url 'cohorts' myid.pk  %}">{{cohorts }}</a></h3>

{% else %}
<span>My Cohort</span>
<p style="color: red;">Pending</p>
{% endif %}


</div>
</div>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
<div class="dash-widget dash-widget5">
<div class="dash-widget-info d-inline-block text-left">
<span>Acceptance Status</span>
<h3>{{profile.status}}</h3>
</div>

<span class="float-right"><img src="{% static 'assets/img/dash/dash-4.png' %}" alt="" width="80"></span>
</div>
</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 col-12 d-flex">
		<div class="card flex-fill">
		<div class="card-header">
		<div class="row align-items-center">
		<div class="col-auto">
		<div class="page-title">
		Total Member
		</div>
		</div>
	
		</div>
		</div>
		<div class="card-body d-flex align-items-center justify-content-center overflow-hidden">
		<div id="chart3"> </div>
		</div>
		</div>
		</div>



<div class="col-lg-6 d-flex">
<div class="card flex-fill">
<div class="card-header">
<div class="row align-items-center">
<div class="col-auto">
<div class="page-title">
Student Performance
</div>
</div>

</div>
</div>
<div class="card-body">
<div id="chart2"></div>
</div>
</div>
</div>
</div>



{% if admitted %}
  



<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-header">
<div class="row align-items-center">
<div class="col-sm-6">
 <div class="page-title">
<marquee behavior="" direction="up" scrolldelay="250"> <b style="color: red;"> Recently admitted students</b></marquee>

</div>
</div>

</div>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table custom-table">
<thead class="thead-light">
<tr>
<th> Student Name </th>
<th>Course</th>
<th>Admission </th>
<th>Username</th>
<th>Location</th>


</tr>
</thead>

<tbody>
	{% for adimitted_student in adimitted_student  %}
<tr>
<td>
<h2><a href="profile.html" class="avatar text-white"><img src="{% static 'assets/img/profile/img-1.jpg' %}" alt=""></a><a href="">{{adimitted_student.last_name}} {{adimitted_student.first_name}}<span></span></a></h2>
</td>

<td>{{adimitted_student.courses}}</td>
<td style="color: rgb(44, 186, 44);">{{adimitted_student.status}}</td> 

<td>{{adimitted_student.user.username}}</td>

<td>{{adimitted_student.state }}</td>


</tr>

{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>


{% endif %}




{% if assigment %}
  



<div class="card">
<div class="card-header">

<div class="content-page">

	<div class="page-title">
		<marquee behavior="" direction="up" scrolldelay="250"> <b style="color: red;">Submitted Assigment on
			 review
		</b></marquee>
		
		</div>   


	<div class="row">
	<div class="col-md-12 mb-3">
	<div class="table-responsive">
	<table class="table custom-table datatable">
	<thead class="thead-light">
	
		
	<tr>
	
	<th>cohorts</th>
	<th>project name</th>
	<th>Status</th>
	<th>Date</th>
	<th>Git hub</th>
	
   
	</tr>
	</thead>
	
	

	<tbody>
	<tr>
	
	<td>{{assigment.cohorts}}</td>
	<td>{{assigment.project}}</td> 
	{% if assigment.status == 'reviewing' %}
	  

	<td> <Span class=" text-warning">{{assigment.status}} </Span><span  class="fa-solid fa-xmark" style="color: rgb(255, 55, 55);"></span></td>
	<td>{{assigment.date|date:'D-M-Y' }}</td>

	{% else %}
	
	<td> <Span class=" text-success">{{assigment.status}} </Span><span  class="fa-solid fa-square-check" style="color: rgb(55, 129, 255);"></span></td>
	<td>{{assigment.date|date:'D-M-Y' }}</td>

	{% endif %}
	<td><i><a href="{{assigment.git_hub}}" target="_blank" class="typcn typcn-eye btn btn-danger btn" style="font-size: 12;">view </a> </i></td>
	
	</tr>  


   
	</tbody>

	
	</table>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

	{% endif %}




</div>
</div>









{% endblock content %}






</body>
</html>