{% extends "dashboard/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="page-wrapper">
        <div class="content container-fluid">
        <div class="page-header">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="text-uppercase mb-0 mt-0 page-title">Blog</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <ul class="breadcrumb float-right p-0 mb-0">
        <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="index.html">Blog</a></li>
        <li class="breadcrumb-item"><span> Blog</span></li>
        </ul>
        </div>
        </div>
        </div>
        <h3 class="blog-title"><a href="">Full Stack Engeering Material</a></h3>
  
        <div class="row">
            {% for front_end in front_end  %}
        <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="blog grid-blog">
        <div class="blog-image">
          
        <a href=""><img class="img-fluid" src="{{front_end.images.url}}" alt=""></a>
        </div>
        <div class="blog-content">
       
        <h3 class="blog-title"><a href="#">{{front_end.title}}</a></h3>
        <p>{{front_end.description}}</p>
        <a href="" class="read-more btn btn-secondary mb-1" ><i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>activate</a>
      
        </div>
        </div>
        </div>
        {% endfor %}
       
     

        


        </div>



        <h3 class="blog-title"><a href="">Front-End Engeering Material</a></h3>
  
        <div class="row">
            {% for front_end in my_back   %}
        <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="blog grid-blog">
        <div class="blog-image">
        <a href=""><img class="img-fluid" src="{{front_end.images.url}}" alt=""></a>
        </div>
        <div class="blog-content">
          
        <h3 class="blog-title"><a href="">{{front_end.title}}</a></h3>
        <p>{{front_end.description}}</p>
        <a href="" class="read-more btn btn-secondary mb-1" ><i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>activate</a>
     
        </div>
        </div>
        </div>
        {% endfor %}
        
       

        


        </div>


        </div>
       





        </div>
        
    
    {% endblock content %}
</body>
</html>